@model Rutina
@section css{ 
    <link href="~/css/rutinas.css" rel="stylesheet" />
}
@{
    ViewBag.ViewName = Model.Nombre.ToLower();
}

<div class="w-100" style="min-height: calc(100vh - 86px);">
    <div class="container col p-4">
        @if (Model != null)
        {
            <div class="w-100 d-flex justify-content-between">
                <a class="btn btn-primary fw-medium mb-3" asp-controller="Rutinas" asp-action="Index">Volver a rutinas</a>
            </div>
            <div class="row align-items-start g-5 py-5 px-4">
                <video class="w-100" style="height: 50vw; max-height: 660px; min-height: 220px; margin-top: 0px; padding-right: 0 !important; padding-left: 0 !important; background-color: black;" controls>
                    <source src="@Model.Video" type="video/mp4" />
                </video>
            </div>
            <div class="row flex-lg-row align-items-start g-5 p-0">
                <div class="col-lg-7 p-4 pb-0 mt-0">
                    <h2 class="fw-medium mb-3">@Model.Nombre</h2>
                    <p>@Html.Raw(Model.RutinaTexto)</p>
                    <p class="badge rounded-3 bg-secondary">@Model.Categoria</p>
                    <p class="badge rounded-3 bg-dark">@Model.Fecha.ToShortDateString()</p>
                </div>
                <div class="col-lg-5 p-4 pb-0 mt-0">
                    <form class="w-100 d-flex mb-2" method="post">
                        <input type="number" hidden name="idrutina" value="@Model.IdRutina" />
                        <div style="max-width: calc(100% - 70.1833px);" class="w-100">
                            <input type="text" class="form-control" id="comentariotexto"
                                   name="comentariotexto" placeholder="Introduzca un comentario"
                                   style="border-radius:.25rem 0rem 0rem .25rem;">
                        </div>
                        <button class="btn btn-primary fw-medium"
                                style="border-radius:0rem .25rem .25rem 0rem;">
                            Enviar
                        </button>
                    </form>
                    <p class="w-100 border mb-2 px-2 py-2 text-muted text-center bg-light rounded-3">Total de comentarios: @ViewBag.ComentariosTotales</p>
                    <div class="scroll-none" style="max-height: 400px;">
                        @foreach (ComentarioUsuarioViewModel item in ViewBag.Comentarios)
                        {
                            <div class="d-flex pt-3">
                                <img class="me-2 rounded-3" width="32" height="32" src="@item.Imagen" />

                                <p class="pb-3 mb-0 small lh-sm w-100" style="line-break: anywhere;">
                                    <span class="d-flex fw-medium text-capitalize justify-content-between"><span>@item.Username</span><span class="text-muted text-light small">@item.Fecha.ToString().Substring(0, 10)</span></span>
                                    @item.ComentarioTexto
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>