@model List<Rutina>

@{
    ViewBag.ViewName = Context.User.Identity.Name.ToString().ToLower();
    ViewBag.UserRole = Context.User.FindFirst(ClaimTypes.Role).Value;
    ViewBag.UserName = Context.User.Identity.Name.ToString();
    ViewBag.UserImage = Context.User.FindFirst("image").Value.ToString();
    ViewBag.UserFecha = Context.User.FindFirst("fecha").Value.ToString();
}
<div class="w-100" style="min-height: calc(100vh - 86px);">
    <div class="container p-4">
        <div class="row flex-lg-row align-items-start g-5">
            <div class="col-lg-5">
                <div class="d-flex align-items-start">
                    <img src="~/uploadFiles/users/@ViewBag.UserImage" class="rounded-3 me-3 border" style="height: 100px; width: 100px; object-fit: cover;" />
                    <div style="height: 100px;" class="d-flex flex-column justify-content-end">
                        <div class="d-flex align-items-center mb-2"><p class="fw-medium lead my-0 text-capitalize">@ViewBag.UserName</p><p class="badge rounded-3 bg-primary my-0 ms-2 text-lowercase">@ViewBag.UserRole</p></div>
                        <p class="mb-0">Usuario desde @ViewBag.UserFecha.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="d-flex w-100">
                    <p class="w-100 border mb-2 px-2 py-2 text-muted text-center bg-light" style="max-width: calc(100% - 42px); border-radius: .25rem 0rem 0rem .25rem;">Mis rutinas comenzadas</p>
                    @if (Model.Count() != 0) 
                    { 
                    <a class="btn btn-primary mb-2" style="border-radius: 0rem .25rem .25rem 0rem;"
                    asp-action="LimpiarRutinasComenzadas"><i class="bi bi-trash2-fill"></i></a>
                    } else 
                    {
                    <a class="btn btn-danger mb-2 disabled" style="border-radius: 0rem .25rem .25rem 0rem;"><i class="bi bi-trash2-fill"></i></a>
                    }
                </div>
                @if (Model.Count() != 0)
                {
                    @foreach (Rutina item in Model)
                    {
                        <div class="row flex-lg-row align-items-center g-5 mb-3">
                            <div class="col-5 pe-2" style="height: 175px;">
                                <img class="w-100 h-100 border rounded-3" style="object-fit:cover;" src="~/uploadFiles/images/@item.Imagen" />
                            </div>
                            <div class="col-7 align-items-start ps-2">
                                <div style="height: 105.3px;">
                                    <p class="fw-medium lead mb-2 text-nowrap">
                                        @item.Nombre
                                    </p>
                                    <p class="mb-2" style="height: 59.3px; word-wrap: break-word;">
                                        @if (item.RutinaTexto.Length >= 50)
                                        {@item.RutinaTexto.Substring(0, 50)<span>…</span> }
                                    else
                                    { @item.RutinaTexto}
                                    </p>
                                </div>
                                <div>
                                    <p class="badge rounded-3 bg-secondary mb-2">@item.Categoria</p>
                                    <p class="badge rounded-3 bg-dark mb-2">@item.Fecha.ToString().Substring(0, 10)</p>
                                </div>
                                <a asp-controller="Rutinas" asp-action="Rutina" asp-route-id="@item.IdRutina" class="btn btn-primary fw-medium m-0">Continuar rutina</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="p-5 rounded-3 bg-white col-lg-6 border w-100">
                        <h2 class="fw-medium mb-3">No dispones de rutinas comenzadas</h2>
                        <p>Si lo desea, puede <span class="fw-bold">comenzar una rutina</span> presionando el siguiente botón.</p>
                        <a class="btn w-100 btn-primary fw-medium"
                           asp-controller="Rutinas" asp-action="Index">Ver rutinas</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
